:root {
	--glass-pane-bg: hsla(0, 0%, 0%, 0.615);
}

.glass-pane {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}

.glass-pane {
	position: absolute;
	inset: 1rem;
	overflow: scroll;
	border: 2px solid white;
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 0;

	background: var(--glass-pane-bg);
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.578);

	text-align: left !important;
}

.glass-pane.focus {
	outline: 0.1rem solid rgba(255, 255, 255, 0.762);	
	box-shadow: 0rem 0rem .75rem rgba(255, 255, 255, 0.691);
}

::-webkit-scrollbar {
	display: none;
}