:root {
	--select-arrow-size: 1.5rem;
}



/* add custom arrow 
https://stackoverflow.com/a/67297063 */
select.selector {
    background: url("data:image/svg+xml,<svg height='1.5rem' width='1.5rem' viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat, var(--color-secondary);
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance: none;
    -webkit-appearance: none; 
    appearance: none;
}

select.selector {
	/* line-height: 3.2rem; */
	/* width: fit-content; */
	/* font-size: var(--button-font-size); */
	font-size: clamp(1rem, 4vw, 2.5rem);
	/* font-size: 2rem; */
	border: var(--button-border);
	border-radius: var(--button-border-radius);

	padding-block: var(--button-padding-block);
	padding-left: 1rem;
	padding-right: calc(1.3rem + var(--select-arrow-size));
	/* margin-bottom: var(--button-margin-bottom); */

	box-shadow: var(--button-box-shadow);
}

select.selector {
	font-family: inherit;
	text-shadow: var(--button-text-shadow);
	text-align: center;
}

select.selector svg {
	filter: drop-shadow(3px 3px 3px black);
}