:root {
	--main-menu-chars-per-line: 30;
	--main-menu-font-size: clamp(2rem, calc(100vw / var(--main-menu-chars-per-line) + 1rem), 3rem);
}

#main-menu {
	position: relative;
	height: 100dvh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: calc(var(--main-menu-font-size) * 1.5);

	background: black;
	z-index: 200;
}

#main-menu {
	transform: translateY(-100dvh);
	transition: transform ease-in-out 0.2s;
}
#main-menu.open {
	transform: translateY(0);
}

#main-menu .button {
	position: relative;
	background: none;
	padding: 0;
	border: none;

	font-size: var(--main-menu-font-size);
	text-align: center;
}

#main-menu .button:active {
	/* border-top: 3px solid red; */
}

#main-menu .button:hover::before {
	content: '';
	position: absolute;
	inset: -1rem;
	border-top: 3px solid purple;
	border-left: 3px solid purple;
}

#main-menu .button:focus {
	outline: none;
}

#main-menu .main-menu-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 4rem;
	background: none;
	padding: 0;
	margin: 2rem;

	border-radius: 1rem;
}

#main-menu .main-menu-button img {
	height: 100%;
	width: 100%;
}