* {
	box-sizing: border-box;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	/* text-align: center; */
}

/* copy textarea styles */
#typing-input, #typing-input-background pre {
	font-style: ;
	font-variant-ligatures: ;
	font-variant-caps: ;
	font-variant-numeric: ;
	font-variant-east-asian: ;
	font-variant-alternates: ;
	font-variant-position: ;
	font-weight: ;
	font-stretch: ;
	font-size: ;
	font-family: monospace;
	font-optical-sizing: ;
	font-kerning: ;
	font-feature-settings: ;
	font-variation-settings: ;
	text-rendering: auto;
	/* color: fieldtext; */
	letter-spacing: normal;
	word-spacing: normal;
	line-height: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	appearance: auto;
	-webkit-rtl-ordering: logical;
	resize: -internal-textarea-auto;
	cursor: text;
	overflow-wrap: break-word;
	/* background-color: field; */
	/* column-count: initial !important; */
	margin: 0em;
    border: none;
	/* border-width: 1px; */
	/* border-style: solid; */
	/* border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
	/* border-image: initial; */
	/* padding: 2px; */
	/* white-space: pre-wrap; */
}


#wrapper {
    position: relative;
}

#typing-input {
    inset: 0;
    background: transparent;
}

#typing-input-background {
    z-index: -1;
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 76) !important;
    color: green;
}

#typing-input, #typing-input-background {
    font-size: inherit;
    padding: 1rem;
    margin: 1rem;
    border: none;
    column-count: 40;
    border-radius: 0.5rem;
}