* {
	box-sizing: border-box;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	/* text-align: center; */
}

.center-children {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spread-children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
