:root {
	--char-color-default: hsl(252, 100%, 86%);
	/* --char-color-correct: white; */
	--char-color-correct: rgb(194, 232, 145);
	--char-color-wrong: hsl(330, 100%, 38%);
	--char-color-fixed: hsl(330, 100%, 80%);
}

.char {
	text-align: center;
	padding-bottom: 0.2rem; /* push the border / 'underline' down a bit */
}

.char.unreached {
	color: var(--char-color-default);
}

.char.correct {
	color: var(--char-color-correct);
}

.char.missed {
	color: var(--char-color-wrong);
}

.char.fixed {
	color: var(--char-color-fixed);
}

.char.correct,
.char.missed,
.char.fixed {
	text-shadow: .05rem .05rem .1rem black;
}

.char.active {
	position: relative;
}

.char.active::before {
	position: absolute;
	content: '';
	inset: 0;
	border-bottom: 0.15rem solid;
	border-color: var(--char-color-default);
}

.char.faded {
	opacity: 50%;
}
