:root {
	--char-color-default: hsl(252, 100%, 86%);
	--char-color-correct: white;
	--char-color-wrong: #c10060;
}

.char {
	color: var(--char-color-default);
	text-align: center;
	padding-bottom: 0.1rem; /* push the border / 'underline' down a bit */
}

.char.correct {
	color: var(--char-color-correct);
	color: var(--char-color-correct);
}

.char.wrong {
	color: var(--char-color-wrong);
}

.char.correct,
.char.wrong {
	text-shadow: .05rem .05rem .1rem black;
}

.char.active {
	border-bottom: 0.2rem solid;
	border-color: var(--char-color-default);
}

.char.faded {
	opacity: 50%;
}
